<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ディズニーパーク 編集</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<h2>ディズニーパーク 編集</h2>
<p><a href="/">トップへ戻る</a> | <a href="/disney2">一覧へ</a></p>

<form action="/disney2/update/<%= id %>" method="POST">
  <div>名称：<input name="name" value="<%= data.name %>" required></div>
  <div>国：<input name="country" value="<%= data.country %>" required></div>
  <div>開園年：<input type="number" name="opened" value="<%= data.opened %>" required></div>
  <div>パーク数：<input type="number" name="parks" value="<%= data.parks %>" required></div>
  <button type="submit">更新</button>
</form>
</body>
</html>
